<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for question in questions %}
        <a href="{% url "question_detail" question.pk %}">{{ question }}</a>
    {% endfor %}
</body>
</html>