<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {{ question }}
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Ответить">
    </form>
</body>
</html>