<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Админ<br>
Посты с более 3 лайками <br>
{% for article in articles %}
    {{ article.text }}<br>
{% endfor %}
<br>
Сообщения пользователей <br>
{% for msg in msgs %}
    {{ msg.0 }}<br>
    {{ msg.1 }}<br>
{% endfor %}
</body>
</html>