{% extends "base.html" %}
{% block name %}
    {{ page.user.first_name }}
    {{ page.user.last_name }}<br>
    {{ page.status }}
{% endblock %}
{% block table %}
    <table>
        <tr align="center">
            <td>
                {{ friends.count }}
            </td>
            <td>
                {{ subs.count }}
            </td>
        </tr>
        <tr>
            <td>
                Друзей
            </td>
            <td>
                Подписчиков
            </td>
        </tr>
    </table>
{% endblock %}
{% block action %}
    {% if user.id != page.id %}
        {% if user.id not in friends.id %}
            <a href="{% url "people:add_friend" page.id %}"><button>Добавить в друзья</button></a><br>
        {% endif %}
    {% endif %}
{% endblock %}
{% block leftmain %}
    <div class="friends">
        {% for friend in friends|slice:":6" %}
            <a href="{% url 'people:profile_page' friend.pk %}">
                <div class="friend">
                    <img src="" alt="{{ friend.page_picture.order_by.first }}">
                    {{ friend.user.first_name }} <br>
                    {{ friend.user.last_name }}
                </div>
            </a>
        {% endfor %}
    </div>
    <div class="groups">
        {% for group in groups|slice:":6" %}
            <a href="{% url 'group:group' group.pk %}">
                <div class="group">
                    <img src="" alt="{{ group.page_picture.name }}">
                    {{ group.title }}
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
{% block wall %}
    {% include "wall_include.html" %}
{% endblock %}