<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VK</title>
    <style>
        header{
            background: lawngreen;
            height: 50px;
        }
        .menu{
            float: left;
            background: #cccccc;
            width: 200px;
            height: 700px;
            margin-left: 100px;
        }
        .main{
            margin-left: 300px;
            background: aquamarine;
            width: 700px;
            height: 700px;
        }
        .avatar{
            float: left;
            width: 200px;
            height: 200px;
            background: antiquewhite;
        }
        .name{
            height: 100px;
        }
        .table{
            height: 100px;
        }
        .friends {
            background: azure;
            width: 300px;
            height: 300px;
        }
        .friend {
            background: gray;
            height: 140px;
            width: 90px;
            margin: 5px;
        }
        .walls {
            float: right;
            width: 400px;
            background: #cccccc;
        }
        .article {
            margin: 10px;
        }
        .groups {
            background: azure;
            width: 300px;
            height: 300px;
        }
        .group {
            background: gray;
            height: 140px;
            width: 90px;
            margin: 5px;
        }
        .leftmain {
            float: left;
        }
    </style>
</head>
    <body>
        <header>

        </header>
        <div>
            <div class="menu">
                <ul>
                    <a href="">
                        <li>
                            Моя страница
                        </li>
                    </a>
                    <li>
                        Мои сообщения
                    </li>
                    <li>
                        Мои фотографии
                    </li>
                    <li>
                        Мои аудизаписи
                    </li>
                </ul>
            </div>
            <div class="main">
                <div class="avatar">
                    <img src="" alt="{{ avatar.img.name }}">
                </div>
                <div class="name">
                    {{ page.user.first_name }}
                    {{ page.user.last_name }}<br>
                    {{ page.status }}
                </div>
                <div class="table">
                    <table>
                        <tr align="center">
                            <td>
                                {{ friends.count }}
                            </td>
                            <td>
                                {{ subs.count }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Друзей
                            </td>
                            <td>
                                Подписчиков
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="leftmain">
                    <div class="friends">
                        {% for friend in friends %}
                            <a href="/people/{{ friend.pk }}">
                                <div class="friend">
                                    <img src="" alt="{{ friend.page_picture.order_by.first }}">
                                    {{ friend.user.first_name }} <br>
                                    {{ friend.user.last_name }}
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="groups">
                        {% for group in groups %}
                            <a href="/group/{{ group.pk }}">
                                <div class="group">
                                    <img src="" alt="{{ group.page_picture.name }}">
                                    {{ group.title }}
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="walls">
                    Стена
                    {% for article in wall %}
                        <div class="article">
                            <a href="/people/{{ article.who_posted.pk }}">
                                {{ article.who_posted.user.first_name }}
                                {{ article.who_posted.user.last_name }}<br>
                            </a>
                            {{ article.text }}<br>
                            {{ article.date }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>