<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <a href="{% url "profile" user.id %}">Моя страница</a><br>
    {{ profile }} <br>
    {% for answer in answers %}
        {{ answer.question.question }}<br>
        {{ answer.answer }}<br>
        Like: <button class="count" data-pk="{{ answer.id }}"> {{ answer.like }}</button>
    {% endfor %}
    <br>
    {% if profile.user == user %}
        <a href="{% url "questions" %}"> Новые вопросы {{ questions.count }} </a>
    {% endif %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var buttons = document.getElementsByClassName("count");
            for (var i = 0; i < buttons.length; i++) {
                buttons[i].addEventListener("click", function(e) {
                    var id = e.srcElement.dataset.pk;
                    $.ajax({
                        url: "/post/" + id + "/ajax",
                        type: 'get',
                        success: function(data) {
                            e.srcElement.innerHTML = data;
                        }
                    });
                });
            }
        });
    </script>
</body>
</html>