header{
    background: lawngreen;
    height: 50px;
}
.menu{
    float: left;
    background: #cccccc;
    width: 2000px;
    height: 700px;
    margin-left: 100px;
}
.main{
    margin-left: 300px;
    background: aquamarine;
    width: 700px;
    height: 700px;
}
.avatar{
    float: left;
    width: 200px;
    height: 200px;
    background: antiquewhite;
}
.name{
    height: 100px;
}
.table{
    height: 100px;
}
.friends {
    background: azure;
    width: 300px;
    height: 300px;
}
.friend {
    background: gray;
    height: 140px;
    width: 90px;
    margin: 5px;
}
.walls {
    float: right;
    width: 400px;
    background: #cccccc;
}
.article {
    margin: 10px;
}
.rightmain {
    float: right;
}
.contacts {
    background: aliceblue;
    width: 100%;
}
.contact {
    background: gray;
    height: 140px;
    width: 90px;
    margin: 5px;
}
.groups {
    background: azure;
    width: 300px;
    height: 300px;
}
.group {
    background: gray;
    height: 140px;
    width: 90px;
    margin: 5px;
}
.leftmain {
    float: left;
}
textarea {
	resize: none;
}
