<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VK</title>
    <style>
        header{
            background: lawngreen;
            height: 50px;
        }
        .menu{
            float: left;
            background: #cccccc;
            width: 200px;
            height: 700px;
            margin-left: 100px;
        }
        .main{
            margin-left: 300px;
            background: aquamarine;
            width: 700px;
            height: 700px;
        }
        .avatar{
            float: left;
            width: 200px;
            height: 200px;
            background: antiquewhite;
        }
        .name{
            height: 100px;
        }
        .table{
            height: 100px;
        }
        .friends {
            background: azure;
            width: 300px;
            height: 300px;
        }
        .friend {
            background: gray;
            height: 140px;
            width: 90px;
            margin: 5px;
        }
        .walls {
            width: 400px;
            background: #cccccc;
        }
        .article {
            margin: 10px;
        }
        .rightmain {
            float: right;
        }
        .contacts {
            background: aliceblue;
            width: 100%;
        }
        .contact {
            background: gray;
            height: 140px;
            width: 90px;
            margin: 5px;
        }
    </style>
</head>
    <body>
        <header>

        </header>
        <div>
            <div class="menu">
                <ul>
                    <a href="">
                        <li>
                            Моя страница
                        </li>
                    </a>
                    <li>
                        Мои сообщения
                    </li>
                    <li>
                        Мои фотографии
                    </li>
                    <li>
                        Мои аудизаписи
                    </li>
                </ul>
            </div>
            <div class="main">
                <div class="avatar">
                    <img src="" alt="{{ avatar.img.name }}">
                </div>
                <div class="name">
                    {{ page.title }}<br>
                    {{ page.status }}<br>
                    {{ page.information }}<br>
                    {{ page.address }}
                </div>
                <div class="table">
                    {{ subs.count }}
                    Подписчиков
                </div>
                <div class="rightmain">
                    <div class="friends">
                        {% for sub in subs %}
                            <a href="/people/{{ sub.pk }}">
                                <div class="friend">
                                    <img src="" alt="{{ sub.page_picture.order_by.first }}">
                                    {{ sub.user.first_name }} <br>
                                    {{ sub.user.last_name }}
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="contacts">
                        {% for contact in page.contacts.all %}
                            <a href="/people/{{ contact.profile_page.pk }}">
                                <div class="contact">
                                    {{ contact.name }}
                                    {{ contact.occupation }}
                                    {{ contact.email }}
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="walls">
                    Стена
                    {% for article in wall %}
                        <div class="article">
                            <a href="/people/{{ article.who_posted.pk }}">
                                {{ article.who_posted.user.first_name }}
                                {{ article.who_posted.user.last_name }}<br>
                            </a>
                            {{ article.text }}<br>
                            {{ article.date }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>