{% extends "base.html" %}
{% block name %}
    {{ page.title }}<br>
    {{ page.status }}<br>
    {{ page.information }}<br>
    {{ page.address }}
{% endblock %}
{% block table %}
    {{ subs.count }}
    Подписчиков
{% endblock %}
{% block rightmain %}
    <div class="friends">
                        {% for sub in subs %}
                            <a href="/people/{{ sub.pk }}">
                                <div class="friend">
                                    <img src="" alt="{{ sub.page_picture.order_by.first }}">
                                    {{ sub.user.first_name }} <br>
                                    {{ sub.user.last_name }}
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="contacts">
                        {% for contact in page.contacts.all %}
                            <a href="/people/{{ contact.profile_page.pk }}">
                                <div class="contact">
                                    {{ contact.name }}
                                    {{ contact.occupation }}
                                    {{ contact.email }}
                                </div>
                            </a>
                        {% endfor %}
                    </div>
{% endblock %}
{% block wall %}
    {% include "wall_include.html" %}
{% endblock %}