<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ytka</title>
</head>
<body>
    <form action="" method="post"> {% csrf_token %}
        <p>
            <label>Имя</label>
            <input type="text" name="first_name">
        </p>
        <p>
            <label>Фамилия</label>
            <input type="text" name="last_name">
        </p>
        {{ form.as_p }}
        <input type="submit" value="Отпраить">
    </form>
</body>
</html>