{% extends "base.html" %}
{% block msgs %}
    <h2>My Messages</h2>
    <table border=1 width="80%">
        {% for m in msgs %}
            {% if m.is_read %}
                <tr>
            {% else %}
                <tr bgcolor="#00ff00">
            {% endif %}
                <td> from: {{ m.user_send.username }} <br>
                </td>
                <td> <a href="{% url "message:detail" m.id %}">{{ m.cut }}</a> </td>
                <td> date: {{ m.date }} </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}