<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VK</title>
    <style>
        .main_content {
            background-color: #ccc;
            margin-left: 20%;
            width: 60%;
        }
        .msg {

        }
        .form {
            margin-left: 35%;
        }
        
    </style>
</head>
<body>
<div class="main_content">
    <a href="{% url 'message:im' %}"><button>Назад</button></a>
    <p>
        От: {{ msg.user_send.first_name }} {{ msg.user_send.last_name }}
    </p>
    <p>
        <div class="msg">
            {{ msg.text }}
        </div>
    </p>
    <p>
        Дата: {{ msg.date }}
    </p>
</div>
    <form method="post" class="form"> {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Ответить">
    </form>
</body>
</html>