<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VK</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
    <body>
        <header>
            {{ user.first_name }} {{ user.last_name }}
            <a href="{% url "people:logout" %}"><button>Выйти</button></a>
        </header>
        <div>
            <div class="menu">
                <ul>
                    <a href="{% url 'people:profile_page' user.id %}">
                        <li>
                            Моя страница
                        </li>
                    </a>
                    <a href="{% url 'message:im' %}">
                        <li>
                            Мои сообщения
                        </li>
                    </a>
                </ul>
            </div>
            <div class="main">
                <div class="avatar">
                    <img src="" alt="{{ avatar.img.name }}">
                </div>
                <div class="name">
                    {% block name %}
                    {% endblock %}
                </div>
                <div class="table">
                    {% block table %}
                    {% endblock %}
                </div>
                <div>
                    {% block action %}
                    {% endblock %}
                </div>
                <div class="rightmain">
                    {% block main %}
                    {% endblock %}
                </div>
                <div class="leftmain">
                    {% block leftmain %}
                    {% endblock %}
                </div>
                {% block msgs %}
                {% endblock %}
                {% block wall %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>