<div class="main">
        <div class="avatar">
            <img src="" alt="{{ avatar.img.name }}">
        </div>
        <div class="name">
            {% block name %}
            {% endblock %}
        </div>
        <div class="table">
            {% block table %}
            {% endblock %}
        </div>
        <div class="rightmain">
            {% block rightmain %}
            {% endblock %}
        </div>
        <div class="leftmain">
            {% block leftmain %}
            {% endblock %}
        </div>
</div>