<div class="walls">
    Стена
    <form method="post" enctype="multipart/form-data"> {% csrf_token %}
        {{ form.as_p }}
        Всего символов: <span id="count"></span><br>
        <input type="submit" value="Отправить">
    </form>
    {% for article in wall %}
        <div class="article">
            <a href="{% url "people:profile_page" article.who_posted.pk %}">
                {{ article.who_posted.user.first_name }}
                {{ article.who_posted.user.last_name }}<br>
            </a>
            {{ article.text }}<br>
            {% if article.image %}
                <img src="{{ article.image.url }}" width="50" height="50"> <br>
            {% endif %}
            {{ article.date }}
            <p>
                Likes: <button class="count" data-pk = "{{ article.pk }}">{{ article.like }}</button>
            </p>
        </div>
    {% endfor %}
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var text_area = document.getElementById("id_text");
        text_area.oninput = function () {
            document.getElementById("count").innerHTML = text_area.value.length;
        };
        var buttons = document.getElementsByClassName("count");
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].addEventListener("click", function(e) {
                var id = e.srcElement.dataset.pk;
                $.ajax({
                    url: "/post/" + id + "/ajax",
                    type: 'get',
                    success: function(data) {
                        e.srcElement.innerHTML = data;
                    }
                });
            });
        }
    });
</script>
